<% layout('layout/boilerplate') %>
<link rel="stylesheet" href="/stylesheets/stars.css" crossorigin="anonymous">

<div class="row my-5">
	<div class="col-4 offset-2">

		<div class="card mb-5" style="max-width: 500px;">
			<div id="carouselExample" class="carousel slide">
				<div class="carousel-inner">
					<% camp.image.forEach((each,i)=>{%>
					<% console.log(each) %>
					<div class="carousel-item <%= i === 0 ?"active":'' %>" style="width: 100%;">
						<img crossorigin="anonymous" src=<%= each.url %> class="d-block" style="width:100%; height:310px" alt="">
					</div>
					<% }) %>
				</div>
				<% if(camp.image.length>1) {%>
				<button class="carousel-control-prev" type="button" data-bs-target="#carouselExample" data-bs-slide="prev">
					<span class="carousel-control-prev-icon" aria-hidden="true"></span>
					<span class="visually-hidden">Previous</span>
				</button>
				<button class="carousel-control-next" type="button" data-bs-target="#carouselExample" data-bs-slide="next">
					<span class="carousel-control-next-icon" aria-hidden="true"></span>
					<span class="visually-hidden">Next</span>
				</button>
				<% } %>
			</div>
			<div class="card-body">
				<h5 class="card-title"><%=camp.title %></h5>
				<p class="card-text"><%= camp.description %></p>
			</div>
			<ul class="list-group list-group-flush mt-3">
				<li class="list-group-item text-muted"><%= camp.location %></li>
				<li class="list-group-item fw-bold text-end">$<%= (camp.price).toFixed(2) %> / night</li>
			</ul>
			<% if(user && camp.author.equals(user._id)) {%>
			<div class="card-body">
				<div class="d-flex">
					<a class="btn btn-primary me-3" href=' /campgrounds/<%=camp._id%>/edit' class="card-link">Edit</a>
					<form action="/campgrounds/<%=camp._id%>?_method=DELETE" method="POST">
						<button class="btn btn-danger" type="submit">Delete</button>
					</form>
				</div>
			</div>
			<% } %>
			<div class="card-footer text-muted">
				<div class="d-flex justify-content-between">
					<p>2 days ago</p>
					<p>-<%=camp.author.username[0].toUpperCase()+camp.author.username.slice(1)  %></p>
				</div>
			</div>
		</div>
	</div>
	<div class="col-4">
		<div id="map" style='height: 300px;'></div>
		<% if(user){ %>
		<h2>Leave a Review : </h2>
		<form class="validate-form mb-3" action="/campgrounds/<%=camp._id%>/reviews" method="POST" novalidate>
			<div class="mt-3">
				<fieldset class="starability-basic">
					<input type="radio" id="no-rate" class="input-no-rate" name="rating" value="0" aria-label="No rating." />
					<input type="radio" id="first-rate1" name="rating" value="1" />
					<label for="first-rate1" title="Terrible">1 star</label>
					<input type="radio" id="first-rate2" name="rating" value="2" />
					<label for="first-rate2" title="Not good">2 stars</label>
					<input type="radio" id="first-rate3" name="rating" value="3" checked />
					<label for="first-rate3" title="Average">3 stars</label>
					<input type="radio" id="first-rate4" name="rating" value="4" />
					<label for="first-rate4" title="Very good">4 stars</label>
					<input type="radio" id="first-rate5" name="rating" value="5" />
					<label for="first-rate5" title="Amazing">5 stars</label>
				</fieldset>
			</div>
			<div class="mb-3">
				<label class="form-label" for="review">Review</label>
				<textarea class="form-control" name="review" id="review" required></textarea>
				<div class="valid-feedback">
					Looks Good!
				</div>
				<div class="invalid-feedback">
					Review cannot be empty.
				</div>
			</div>
			<button type="submit" class="btn btn-success">Submit</button>
		</form>

		<% }else{ %>
		<% if(camp.reviews.length === 0){ %>
		<h2>No reviews Added.</h2>
		<% } %>
		<p><a href="/login">Login</a> to add a review.</p>
		<% } %>
		<% if(camp.reviews.length>0){ %>
		<% camp.reviews.map((each)=>{ %>
		<div class="card mb-2">
			<div class="card-body d-flex justify-content-between">
				<div style="max-height: 200px; overflow-y: auto;">
					<h6 class="card-title mb-2"><%= each.author.username[0].toUpperCase()+each.author.username.slice(1) %></h6>
					<p class="starability-result" data-rating='<%= each.rating %>'></p>
					<p class="card-text"><%= each.body %></p>
				</div>
				<div>
					<%if( user && (each.author.equals(user._id) || camp.author.equals(user._id))){ %>
					<form action="/campgrounds/<%= camp._id %>/reviews/<%= each._id %>?_method=DELETE" method="POST">
						<button class="btn btn-sm btn-danger">Delete</button>
					</form>
					<% } %>
				</div>
			</div>
		</div>
		<% }) %>
		<% } %>
	</div>
</div>
<script crossorigin="anonymous">
	const mapToken = '<%-process.env.MAPBOX_TOKEN%>'
	const camp = <%-JSON.stringify(camp)%>
</script>
<script src="/javascripts/map.js" crossorigin="anonymous"></script>